<div class="col-md-10 col-md-offset-1 mx-auto postShow-wrap">
  <div class="row post-wrap">
    <div class="flex-center-center mr7">
      <input id="address" type="textbox" value="東京" class="mr-left10">
      <input type="button" value="検索" onclick="codeAddress()">
      <div id="display" class="mr-left10">検索結果：座標</div>
    </div>
    <div id='map'></div>
    <style>
    #map {
      width: 100%;
      height: 600px;
    }
    </style>
    <script>
    let map
    function initMap(){
      geocoder = new google.maps.Geocoder()
      map = new google.maps.Map(document.getElementById('map'), {
        //latが緯度、lngが経度
        center: {lat: 35.6803997, lng:139.7690174},
        //数値は0〜21まで。数値が大きいほど拡大。
        zoom: 12,
      });
      //positionに指定した座標にピンを表示。
      marker = new google.maps.Marker({
        position:  {lat: 40.7828, lng:-73.9653},
        map: map
      });
    }
    let geocoder
    const display = document.getElementById('display')
    function codeAddress(){
      let inputAddress = document.getElementById('address').value;
      geocoder.geocode( { 'address': inputAddress}, function(results, status) {
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
          display.textContent = "検索結果：" + results[ 0 ].geometry.location
        } else {
          alert('該当する結果がありませんでした：' + status);
        }
      });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap"
            async defer></script>
  </div>
</div>
