<div class="profilebar">
  <a class="profilebarList">
    <a class='post-baricon'></a>
    <a class='pb-btn f-black'>投稿</a>
  </a>
  <a class="mr-left10per profilebarList">
    <a class="favorite-baricon"></a>
    <a class='pb-btn f-black'>保存済み</a>
  </a>
</div>
<!-- js（pb-btn） -->
<ul class="pb-slides">
  <li class="slide active"><%= render 'users/post_list', user: user, post_list: post_list %></li>
  <li class="slide"><%= render 'users/favorite_list', user: user, favorite_list: favorite_list %></li>
</ul>
