<div class="pb-section">
  <ul class="profilebar">
    <li class="pb-btn profilebarList active-btn">
      <a class="post-baricon"></a>
      <a class='pb-btn-txt f-black'>投稿</a>
    </li>
    <li class="mr-left10per pb-btn profilebarList">
      <a class="favorite-baricon"></a>
      <a class='pb-btn-txt f-black'>保存済み</a>
    </li>
  </ul>
</div>
<!-- js（pb-btn） -->
<div class="pb-slides">
  <div class="slide active pb-slide">
    <%= render 'users/post_list', user: user, post: post, post_list: post_list, favorite_list: favorite_list %>
  </div>
  <div class="slide pb-slide">
    <%= render 'users/favorite_list', user: user, post: post, post_list: post_list, favorite_list: favorite_list %>
  </div>
</div>
