<!-- 保存済み一覧 -->
<% if favorite_list.present? %>
  <ul class="post-list-box">
    <% favorite_list.each do |post| %>
      <li>
        <%= link_to post_path(post), class: "post-list-img" do %>
          <%= image_tag post.photos.first.image.url(:medium) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <a>お気に入り登録はまだありません</a>
<% end %>
