<!-- 投稿一覧 -->
<div class="post-list-paginate">
  <% if post_list.present? %>
    <%= paginate post_list %>
  <% else %>
    <a class="f-bold f-black opa05">最近の投稿</a>
  <% end %>
</div>
<% if post_list.present? %>
  <div class="post-list-box">
    <% post_list.each do |post| %>
      <div class="post-list-frame">
        <%= link_to post_path(post), class: "post-list-img" do %>
          <%= image_tag post.photos.first.image.url(:medium) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= render 'users/post_list_none' %>
<% end %>
