<div class="profilebar">
  <a class="">
    <span class=""></span>
    <span class="">投稿</span>
  </a>
</div>
<%= render 'users/post_list', user: user, post_list: post_list %>
<%#= render 'users/favorite_list', favorite_list: @favorite_list %>
