<% @user ||= current_user %>
<div class="fb-section">
  <a href="<%= user_path(@user) %>" class="back-usershow-icon"></a>
  <ul class="followbar">
    <li class="f-bold f-black followbarList">
      <a href="<%= followers_user_path(@user) %>" class="f-black">フォロワー</a>
    </li>
    <li class="opa05 f-bold f-black followbarList">
      <a href="<%= following_user_path(@user) %>" class="f-black">フォロー中</a>
    </li>
  </ul>
</div>
<hr>
<%= render 'users/followers_list', user: @user, follower_users: @follower_users %>
