<% if @following_user.present? %>
  <div class="mr-top20 text-center">
    <a class="f-black f-bold opa05">まだフォローしていないユーザー</a>
  </div>
  <hr>
  <%= render 'users/other_users', other_unfollowed_user: @other_unfollowed_user %>
<% else %>
  <div class="text-center">
    <p class="f-bold">Insta Clone Appへようこそ</p>
    <p>興味のある人をフォローしましょう！</p>
    <a href="<%= first_follow_path %>" class="f-white start-btn">さぁ、はじめてみましょう</a>
  </div>
<% end %>
