<div class="profile-wrap">
  <%= render 'users/profile', user: @user %>
</div>
<% if @user == current_user %>
  <%= render 'users/favorite_list', favorite_list: @favorite_list %>
<% end %>
<% if @user != current_user %>
  <%= render 'users/post_list', user: @user, post_list: @post_list %>
<% end %>
