<div class="profile-wrap">
  <%= render 'users/profile', user: @user %>
</div>
<hr>
<% if @user == current_user %>
  <%= render 'users/cu_profilebar', user: @user, post_list: @post_list, favorite_list: @favorite_list %>
<% else %>
  <%= render 'users/profilebar', user: @user, post_list: @post_list %>
<% end %>
