.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  height: 55px;
  &__brand {
    height: 35px;
    width: 176px;
    background-size: 114px;
  }
  &__mainLogo {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("~logo.png");
  }
  &-nav {
    & > li {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
      .commonNavIcon {
        height: 24px;
        width: 24px;
        background-size: 22px !important;
        background-repeat: no-repeat;
        transition: .3s ;
      }
      .home-icon {
        background-image: url("~home-icon.png");
      }
      .home-icon:hover {
        background-image: url("~home-hover-icon.png");
      }
      .photo-icon {
        background-image: url("~photo-icon.png");
      }
      .photo-icon:hover {
        background-image: url("~photo-hover-icon.png");
      }
      .notification-icon {
        background-image: url("~notification-icon.png");
      }
      .notification-icon:hover {
        background-image: url("~notification-hover-icon.png");
      }
      .notification-circle {
        position: absolute;
        top: 15px;
        bottom: 0px;
        margin-left: 8px;
        display: inline-block;
        width:7px;
        height:7px;
        border-radius: 50%;
        background-color: red;
        z-index:10;
      }
      .profile-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .logout-icon {
        background-image: url("~logout-icon.png");
      }
      .logout-icon:hover {
        background-image: url("~logout-hover-icon.png");
      }
    }
  }
}
