<footer>
  <div class="container">
    <div class="text-center">
      <%=link_to("TOP",root_path) %>
      <%=link_to("プライバシー","/legal/privacy") %>
      <%=link_to("利用規約","/legal/terms") %>
      <p>The Insta Clone App By Genki Mita</p>
    </div>
  </div>
</footer>
