<footer>
  <div class="container">
    <div class="text-center footer-link">
      <a><%= link_to("TOP", root_path) %></a>
      <a><%= link_to("プライバシー", legal_privacy_path) %></a>
      <a><%= link_to("利用規約", legal_terms_path) %></a>
      <p>The Insta Clone App By Genki Mita</p>
    </div>
  </div>
</footer>
