<% if post.address.present? %>
  <div class="col-md-10 col-md-offset-1 mx-auto postShow-wrap mr-bottom20">
    <div class="row post-wrap">
      <h6 class="mr-top7 mr-left7">この写真の撮影場所：
        <a class="h6Icon show-map-icon"></a>
        <a class="f-bold clamdown-blue"><%= post.address %></a>
      </h6>
      <div id="map" data-turbolinks='false'></div>
      <style>
      #map {
        width: 100%;
        height: 600px;
      }
      </style>
      <script>
      let map
      function initMap() {
        geocoder = new google.maps.Geocoder()
        map = new google.maps.Map(document.getElementById('map'), {
          // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
          center: {
            lat: gon.post.latitude,
            lng: gon.post.longitude
          },
          zoom: 12,
        });
        marker = new google.maps.Marker({
          // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
          position: {
            lat: gon.post.latitude,
            lng: gon.post.longitude
          },
          map: map
        });
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap"
              async defer></script>
    </div>
  </div>
<% end %>
