<h2>ハッシュタグ #<%= @tag.hashname %></h2>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.image.variant(gravity: :center), if photo.image.attached? %>
        <% end %>
      </li>
    <% end %>
  </ul>
