<% if @following_user.present? %>
  <%= render 'posts/following_user_posts', posts: @posts %>
<% else %>
  <div class="text-center">
    <p class="f-bold">Insta Clone Appへようこそ</p>
    <p>興味のある人をフォローしてみましょう！</p>
    <p>まずはアイコンをクリック！</p>
  </div>
  <%= render 'users/first_follow', users: @users %>
<% end %>
