/* 共通 */
.f-size16 {
  font-size: 16px;
}

.mr-right10 {
  margin-right: 10px;
}

.f-bold {
  font-weight: bold;
}

/* プロフィール情報 */

.profile-wrap{
  margin:40px 0px;
}

.post-list-img{
  width: 295px;
  height: 295px;
}

.favorite-list-img{
  width: 295px;
  height: 295px;
}

.round-img{
  border-radius:50%;
  width: 120px;
  height: 120px;
}

.edit-profile-btn {
  margin-left: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 20px;
  border-color: #dbdbdb;
  font-size: 14px;
}

.setting {
  background-image: image-url("~parts4.png");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  background-color: transparent;
  background-size: 22px!important;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

/* 自己紹介 */
.introduction-icon {
  width: 14px;
  height: 14px;
  background-size: 14px !important;
  background-repeat: no-repeat;
  background-image: url("~introduction-icon.png");
}

.introduction-text {
  padding-left: 5px;
  line-height: 14px;
}

/* ウェブサイト */
.website-icon {
  width: 14px;
  height: 14px;
  background-size: 14px !important;
  background-repeat: no-repeat;
  background-image: url("~website-icon.png");
}

.website-address {
  margin-left: 5px;
  line-height: 14px;
}
