.mr-top30 {
  margin-top:30px;
}

.legal-logo {
  padding-top:30px;
}

.legal-img {
}

.terms-header {
  height:75px;
  padding-top:20px;
  padding-left:50px;
  padding-right:50px;
  text-align: center;
} p {
  font-weight: bold;
}

section.terms-section {
  background-color:rgb(250, 250, 250);
  padding-top:0px;
  padding-bottom:30px;
  padding-left:50px;
  padding-right:50px;
}

.content-width {
  border-radius: 20px;
  background-color:rgb(239, 245, 246);
  margin-left: auto;
  margin-right: auto;
  padding-top:30px;
  padding-bottom:30px;
  padding-left:30px;
  padding-right:30px;

}

.terms {
  font-weight: bold;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

p {
  font-weight: 100;
  font-size: 14px;
  line-height: 21px;
}

ol {
  font-weight: 100;
  font-size: 14px;
  line-height: 21px;
}

li {
}

.box:last-child  {
  text-align: right;
}
