// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* プロフィール詳細ページ */
.profile-info {
  display: flex;
}

.profile-name {}

.profile-username {}
.username {
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
}

.profile-fullname {}
.fullname {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.follow-info {
  display: flex;
}
.follower {}
.following {
  margin-left: 10px;
}

.profile-follow-btn {
  margin-left: 30px;
}

.edit-btn {
}

/* プロフィール編集ページ */
.text-right {
  display: block;
  text-align: right;
}
